@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
    min-height: 100vh;
    background-image: url("../images/aiBackground.jpg");
    background-size: cover;
    background-position: center;
}

/* Add this CSS to your stylesheet */
.custom-scrollbar::-webkit-scrollbar {
    width: 0; /* Hide scrollbar on Chrome/Safari */
  }
  
  .custom-scrollbar {
    scrollbar-width: none; /* Hide scrollbar on Firefox */
  }
  